/ATIVIDADE SQL - AULA 1.docx
/Atividade 1 - Diagrama.png
/Atividade 2 SQL.csv
/Atividade 2 SQL.gdoc
/Atividade 2 SQL.txt
/Atividade SQL - Aula 1.gdoc
/Aulas
/Cópia de Atividade 1 - Diagrama.png
/Cópia de Template Sirius -  Engenharia de Dados.gslides
/Declaração de isento de imposto de renda-signed.pdf
/Declaração de isento de imposto de renda.pdf
/Diagrama - Livraria - Atividade 1.jpeg
/Engenheiros do Caos.gdoc
/Programação
/Sirius aula 1
/calendario_turma2.png